@for (q of quizzes; track $index) {
<mat-card class="mt10"> 
   <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
        {{q.title}}
    </mat-card-title>
    <mat-card-subtitle>
        {{q.category?.title}}
    </mat-card-subtitle>
   </mat-card-header>
   <mat-card-content>
    {{q.description}}
   </mat-card-content>
   <mat-card-actions>
    <button mat-flat-button [routerLink]="'/admin/view-questions/'+q.qid+'/'+q.title" color="accent">Questions</button>
    <button mat-stroked-button color="accent" class="ml20">Max Marks:{{ " "+q.maxMarks}}</button>
    <button mat-stroked-button color="accent" class="ml20">Questions:{{ " "+q.numberOfQuestions}}</button>
    <button mat-flat-button [routerLink]="'/admin/quiz/'+q.qid" color="accent" class="ml20">Update</button>
    <button mat-flat-button color="accent" class="ml20">Attempts</button>
    <button mat-flat-button color="warn" (click)="deleteQuiz(q.qid)" class="ml20">Delete</button>
   </mat-card-actions>
</mat-card>}
<div class="container text-center mt20 mb20">
    <button mat-raised-button color="accent" routerLink="../add-quiz">Add Quiz</button>
</div>
