<mat-card *ngIf="user">
<h1 class="mt20 ml20">Your Profile Details</h1>
<mat-card-content>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="container text-center">
                <img class="profile-img"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png"
                 
                    alt="IMAGE"
                />
                <h1 class="mt20">{{user.firstName +" "+ user.lastName}}</h1>
            </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- table details -->
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>UserId</td>
                                <td>EXAM_{{user.id}}</td>
                            </tr>
                            <tr *ngIf="user.phone">
                                <td>Phone</td>
                                <td>+91-{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled? "ACTIVE" : "NOTACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</mat-card-content>
<mat-card-actions style="height: 100px; justify-content: center;">
    <button mat-raised-button color="primary" class="mr20">UPDATE</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
